@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
* {
    font-family: 'Baloo Tammudu 2', cursive;
}

h1 {
    position: relative;
    padding-left: 2em;
    background-color: coral;
    text-align: center;
}

button, input {
    font-size: 1.2em;
}

li {
    margin-bottom: 1em;
}

p {
    margin-bottom: 6px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1em;
    grid-gap: 10px;
    background-color: #edf6f9;
}

#internalBox {
    width: 20%;
    height: 40%;
}

.buttonStyle {
    margin-top: 1em;
    margin-left: 1em;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 95%; /* Specified width */
    height: 5px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #2f4f4f; /* darkslategrey background */
    cursor: pointer; /* Cursor on hover */
}

#homeNumSlider::-webkit-slider-thumb {
    background: #808080; /* darkslategrey background */
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

input[type=number]{
    width: 20%;
    height: 15%;
}
